* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px dashed grey; */
}
main {
  display: flex;
}
.sidebar {
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: url(images/background-image.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.logo {
  display: flex;
  width: 100%;
  padding: 1rem;
  /* border: 1px dashed; */
  margin-top: 40%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  color: #fff;
  justify-content: center;
  font-family: "Norse Bold";
}

.logo-image {
  height: 5rem;
  /* margin-right: 0rem; */
}

.logo-title {
  font-family: Norse;
  font-size: 4rem;
}

.image-credit {
  margin: 8px 0;
  font: 10px sans-serif;
  color: #bbb;
}

a {
  text-decoration: underline;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 95%);
  justify-content: center;
  gap: 1rem;
}
.main-text {
  font-family: sans-serif;
  padding: 2rem;
  font-weight: bold;
  color: #333;
}

.form-content {
  display: flex;
  font-family: sans-serif;
  flex-flow: row wrap;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem 2rem;
  box-shadow: 0 1px 10px #ccc;
  
}

.form-content h3{
  width: 100%;
  color: #333
}
.form-content > label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  
}

.form-content input {
  max-width: 230px;
  height: 1.7rem;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 4px;
  margin-right: 2rem;
  margin-top: 4px;
}

#button-submit {
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #3c652f;
  color: #eee;
  font-weight: 550;
  margin: 1rem 0 0 2rem;
  box-shadow: 5px 5px 2px #bbb;
  
}

.log-in{
  margin-left: 2rem;
  font-family: sans-serif;
  font-size: .8rem;
  font-weight: 550;
  color: #333;
}
.log-in a {
  text-decoration: none;
  color: #3c652f;
  font-size: 1rem;
  font-weight: 700;
}

input:focus{
  border: 1px solid rgb(0,128, 255);
}
input[type="password"]:invalid{
  border: 1px solid rgb(192, 0, 0);
}
input[type="password"]:valid{
  border: 1px solid rgb(0,192,0);
}